.tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  z-index: 1;
  margin-bottom: 20px;
}
#turn_on_motor{
  float: left;
}
#accelerator {
  float: left;

}
#velocimeter_wrapper {
  float: left;

}
.mandala {
  -webkit-animation: rotation 1s infinite linear; 
  -webkit-animation-fill-mode: forwards;
  -moz-animation: rotation 1s infinite linear; 
  -moz-animation-fill-mode: forwards;
  -o-animation: rotation 1s infinite linear; 
  -o-animation-fill-mode: forwards;
  
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);

  }
  to {
    -webkit-transform: rotate(359deg); 
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);

  }
}
body { text-align: center; }
#box {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 30px auto;
}
.mandalas-panel{
  overflow-y: scroll;
  top: 0;
}
