.tools {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}
#accelerator {
  float: right;
  margin-top: 60px;
}
.mandala {
  height: 100%;
  -webkit-animation: scale 3s linear, rotation 1s infinite linear ; 
}
@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg)  ; }
  to   { -webkit-transform: rotate(359deg); }
}
@-webkit-keyframes scale {
  0%  { -webkit-transform:rotate( 0deg) scale(10) ; }
  10% { -webkit-transform:rotate(120deg)  scale(8) ; }
  20% { -webkit-transform:rotate(240deg)  scale(6)   ; }
  30% { -webkit-transform:rotate(360deg) scale(4) ; }
  40% { -webkit-transform:rotate(120deg) scale(2)   ; }
  50% { -webkit-transform:rotate(240deg) scale(1) ;}
  60% { -webkit-transform:rotate(360deg) scale(0.5)   ;}
  70% { -webkit-transform:rotate(120deg) scale(0.2) ; }
  80% { -webkit-transform:rotate(240deg) scale(0.1)   ; }
  90% { -webkit-transform:rotate(360deg) scale(0.5) ; }
  100% { -webkit-transform:rotate(360deg) scale(1); }
}

body { text-align: center; }
#box {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 30px auto;
}
.background {
  width: 100%;
  height: 100%;
  z-index: -1;

}
canvas {
  border: 1px solid black;
  border-radius:20px;
  width: 100%;
  height: 100%;
}
